 *{
   background-color: paleturquoise;
 }
 #duar {
   color: grey;
   
 }
 #coffee{
   color: grey;
 }
 #send {
   color :whitesmoke;
   background-color: purple;
   width : 80px;
   height: 30px;
   border-block-color : purple;
 
 }
 #clear {
    color :black;
    background-color: whitesmoke;
    text-decoration-color: black;
    width : 80px;
    height: 30px;
    border-block-color : purple;
    
  }
  #cetak {
    color :whitesmoke;
    background-color: purple;
    width : 510px;
    height: 30px;
    border-block-color : purple;
  
  }
  #ojol{
    float: left;
    margin-left: 10px;
    color: grey;
  }
 
  .data {
      float: left;
      margin-left: -250px;
      color : darkslategray;

  }
  .menu{
      float: right;
      margin-right: 40px;
      color : darkslategray;
  }
  #back {
  color :whitesmoke;
  background-color: purple;
  width : 560px;
  height: 30px;
  border-block-color : purple;
  }
  .transaksi {
    margin-top: 50px;
    margin-left: 70px;
  }
  #iya{
    margin-left: 300px;
  }