
  *{
     margin:0;
     padding:0;
  }      
  .gambarEAD {
     padding: 0%;
     margin-left: 0%;

  }
  .Datadiri {
     float: right;
     padding: 0%;
     margin-left: 0%;

  }
  #soal{
    margin-right: 25%;
    text-align: center;
    padding: 200px;

  }
  #submit {
    color :whitesmoke;
    text-decoration-color: black;
    background-color: red;
    border-block-color: black;
    border-radius: 100px;
    width: 250px; 
    height: 30px;
  }