*{
            margin:0;
            padding:0;
        }        
        nav{
            margin:auto;
            text-align: center;
            width: 101%;
            height: 50px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background:rgb(0, 0, 0);
        }
        nav ul {
            padding:10px;
            top:10px;
            text-align: center;
            list-style: none;
            position:relative;
            display: inline-table;
            width: 98.5%;
        }
        nav ul li{
            float:left;
        }
        nav ul li:hover{
            background: rgb(67, 143, 230);
        }
        nav ul li:hover a{
            color:rgb(250, 250, 250);
        }
        
        nav ul li a{
            display:block;
            padding:5px;
            color: #fff;
            text-decoration: none;
        }        
        .colorNav{
            color: rgb(250, 250, 250);
            font-weight: bold;
        }
        img{
            position: relative;
            top: 25%;
            left: 25%;
        }
        #content{
            background:rgb(67, 143, 230);
            width: 672px;
            height: 174px;
            left:540px;
            position: relative;
            top: -200px;
            padding:1%;
        }
        .logo{
            position: relative;
            background: rgb(250, 250, 250);
            left: 0px;
            right: 500pxs;
            width: 670px;
            height: 200px;
        }
        #content-ul{
            position: relative;
            width: 70%;
            top:16%;
            text-align: justify;
            padding-left:10%;
            
        }  
        #content-p{
            position: relative;
            width: 90%;
            left: 0px;
            top:25px;
            padding: 1%;
            text-align:justify;
        }
        #frame{
            position: relative;
            width: 500px;
            height: 316px;
            left: 0px;
            top:-190px;
            
        }
        .boxform{
            position: relative;
            top:-190px;

        }
        input[type=text]{
            position: relative;
            color: #fff;
            text-decoration-color: #fff;
            width: 230px;
            left: 150px;
                    