*{
    margin:0;
    padding:0;
}        
nav{
    margin:auto;
    text-align: center;
    width: 100%;
    height: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:rgb(255, 254, 254);
}
nav ul {
    
    top:10px;
    text-align: center;
    list-style: none;
    position:relative;
    display: inline-table;
    width: 100%;
}
nav ul li{
    float: right;
    padding: 1%;
    margin-right: 1%;
}
.colorNav{
    color: rgb(250, 250, 250);
    font-weight: bold;
}
img{
    padding: 1%;
    position: relative;
    top: 0%;
    left: -37%;
}
#content {
    background-color:rgb(176, 196, 222);
    width: 988px;
    height: 130px;   
    text-align:justify; 
    padding : 1%;
    top:25px;
}  
#content-p{
    position: relative;
    background-color: white;
    width: 100%;
    height: 100%;
    top:25px;
    text-align:justify;
}
#content-s{
    position: relative;
    width: 100%;
    top:10px;
    padding: 0%;
    text-align:justify;
}
#content-a {
    background:white;
    width: 300px;
    height: 200px;
    top:10px;
    padding: 1%;
    float: left;
}  
#content-b {
    background : white;
    width: 300px;
    height: 200px;
    top:10px;
    padding: 1%;
    float: left;
}  
#content-c {
    background: white;
    width: 300px;
    height:200px;
    top:10px;
    padding: 1%;
    float: right;
}
#submit {
    background: teal;
    padding: 1%;
    color: wheat;
    font-weight: bolder;
    text-transform: lowercase;
    font-size: 12px;
    border-radius: 3px;
    box-shadow: 6px 6px 29px-4px black;
    width: 300px;
    text-decoration: none;
    margin: auto;
}
#eadstore {
    width: 300px;
    height: 200px;
    top:10px;
    font-size: 12px;
    padding: 1%;
    text-align:justify;
    font-family: 'Segoe UI';
    margin:auto;
    text-align: center;
}
#submit1 {
    background: skyblue;
    padding: 1%;
    color: black;
    font-weight: bolder;
    text-transform: lowercase;
    font-size: 12px;
    border-radius: 3px;
    box-shadow: 6px 6px 29px-4px black;
    width: 100px;
    text-decoration: none;
    margin: auto;
}
